:root[data-theme="pearl"]{

--bg:#FAF9F6;
--bgsecondary:#F2F1EE;

--surface:#FFFFFF;
--surface-2:#FCFCFC;

--primary:#2d6a4ff8;
--primary-light:#3F8A68;
--primary-dark:#1D4C39;

--secondary:#D4AF37;

--accent:#E8C86D;

--text:#1a1a1a;
--text-secondary:#5C5C5C;
--text-muted:#8A8A8A;

--success:#43A047;
--warning:#F9A825;
--danger:#E53935;
--info:#42A5F5;

--border:#E5E5E5;

--shadow:rgba(0,0,0,.08);

}
